.cover {
  background: url('assets/cedrus.jpg') no-repeat center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  font-family: 'Playfair Display', serif;
  color: #262626;
  text-align: center;
  display: table;
}
.wrapper {
  display: table-cell;
  vertical-align: middle;
  padding: 0 .625rem;

}
.byline h2 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: .1rem;
  margin-bottom: .5rem;
  text-transform: uppercase;
}

.byline h3 {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.headline {
  font-size: 3rem;
  margin: 2rem 0;
}

body {
  background: url('assets/white-paper.jpg')
}

@media screen and (min-width: 600px) {

  .headline {
    font-size: 6rem;
  }

}

.tagline {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

/* ==== ARTICLE STYLES ==== */


section {
  padding: 0 .625rem;
}

@media screen and (min-width: 600px) {

  section {
    width: 50%;
    max-width: 600px;
    margin: 2rem auto;
    position: relative;
    left: 29%;
  }

}

section h2 {
  font-family: 'Cormorant Garamond', serif;
  color: #737373;
  text-align: center;
  font-size: 2rem;
  line-height: 1.25;
  margin: 2rem 0;
}

section p {
  font-family: 'Libre Franklin', sans-serif;
  color: #737373;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5;
  margin: 1rem 0;
}

/* ==== CV CONTAINER STYLES ==== */

.cv {
  max-width: 70%;
  margin: 0 auto;
  background-color: #cccccc;
  padding: 20px;
  }

#profil {
  float: right;
  width: 14.375rem;
  height: 17.1875rem;
  padding: .2rem;
}

.cv h1 {
  font-family: 'Libre Franklin', sans-serif;
  color: #737373;
  font-size: 1.5rem;
}

.cv p {
  font-family: 'Libre Franklin', sans-serif;
  color: #737373;
  font-size: 1rem;
}

/* ==== TEXT COPIED FROM  WIKIPEDIA ==== */

/* ==== BY 06ATI69 ==== */